<footer class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Text widget-->
                    <aside class="widget widget-text">
                        <div class="widget-title">
                            <h6>About Us</h6>
                        </div>
                        <div class="textwidget">
                            <p>Map where your photos were taken and discover local points of interest. Map where your photos.</p>
                            <p>Location: 12 London Avenue, Suite 18<br>
                                E-mail: support@theme.com<br>
                                Phone: 8 800 123 4567<br>
                            </p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <!-- Recent entries widget-->
                    <aside class="widget widget-recent-entries">
                        <div class="widget-title">
                            <h6>IT Consulting Services</h6>
                        </div>
                        <ul>
                            <li><a href="#">Direct Hire</a></li>
                            <li><a href="#">Contract Consultants</a></li>
                            <li><a href="#">Onsite Recruiting</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3">
                    <!-- Twitter widget-->
                    <aside class="widget twitter-feed-widget">
                        <div class="widget-title">
                            <h6>Contact Us</h6>
                        </div>

                        <div class="textwidget">
                            <p>Map where your photos were taken and discover local points of interest. Map where your photos.</p>
                            <p>Location: 12 London Avenue, Suite 18<br>
                                E-mail: support@theme.com<br>
                                Phone: 8 800 123 4567<br>
                            </p>
                        </div>

                    </aside>
                </div>
                <div class="col-md-3">
                    <!-- Recent works-->
                    <aside class="widget widget-recent-works">
                        <div class="widget-title">
                            <h6>Other Locations</h6>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>© 2020 Abush Technologies, All Rights Reserved.<a href="#"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>