
<section class="module-cover parallax fullscreen text-center" id="home" data-background="../../assets/images/module-2.jpg" data-jarallax-video="https://www.youtube.com/watch?v=3eVWQHRDtws" data-overlay="0.0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="m-b-20"><strong>Striving for Excellence</strong></h3>
                <!--<p class="m-b-40">See how your users experience your website in realtime or view  <br> </p>-->
                <p><a class="btn btn-lg btn-circle btn-brand" routerLink="/about-us">learn more</a></p>
            </div>
        </div>
    </div>
</section>
