<header class="header header-transparent" >
    <div class="container-fluid">
        <!-- Brand-->
        <div class="inner-header"><a class="inner-brand" routerLink="/home"> <img src="../../../assets/images/widgets/atr.PNG" alt=""/></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-nav">
                <ul>
                    <li class="menu-item-has-children menu-item-has-mega-menu"><a routerLink="/home"><span class="menu-item-span">Home</span></a></li>
                    <li class="menu-item-has-children menu-item-has-mega-menu"><a routerLink="/about-us"><span class="menu-item-span">About</span></a></li>
                    <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Service and Projects</span></a>
                        <ul class="sub-menu">
                            <li><a class="menu-item-has-children" routerLink="/it-consulting">Consulting & Staffing</a></li>
                            <li><a class="menu-item-has-children" href="/training">IT Training</a></li>
                            <li><a class="menu-item-has-children" href="/projects">Projects</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a routerLink="/contact-us"><span class="menu-item-span">Contact</span></a></li>
                    <li><a href="/carrier"><span class="menu-item-span">Carrier</span></a></li>
                </ul>
            </div>
        </div>
        <div class="extra-nav">
            <ul>
                <!--<li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>-->
                <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
            </ul>
        </div>
    </div>
</header>